        <!-- SECTION: Para "PRESENTACIÓN / ACERCA DE..." -->
        <section class="presentacion mt-2">
            <h2 class="text-center"><span><strong>Acerca de mi</strong></span></h2>        
            <div class="container text-center">
                <div class="row">
                  <div class="col-3">
                    <!-- Foto de perfil-->
                    <img src="/assets/foto_perfil2.jpeg" alt="Foto de perfil" class="rounded-circle img-fluid perfil">  
                  </div>
                  <div class="col-9 mt-5">
                    <h4 class="mt-3">
                      {{persona.acercade}}
                    </h4>
                  </div>
                </div>
              </div>
        </section>     
