<!-- SECTION: "HABILIDADES" Hard & Soft Skill -->
<section id="habilidades" class="container-fluid mt-5">
    <div class="row mb-2">
        <div class="col-auto me-auto mt-2">
            <h2 class="text-center"><strong>Habilidades (Hard & soft Skill)</strong></h2> 
        </div>
        <!-- Botón de NUEVO (llama a un MODAL)-->
        <div class="d-flex col-auto mt-2">
            <button type="submit" class="btn btn-close-black" 
                    data-bs-toggle="modal" data-bs-target="#habilidadModalAdd"><i 
                    class="fa-solid fa-plus"></i></button>
        </div>
    </div>
    <!-- LISTADO -->
    <div class="row" *ngFor="let habilidad of habilidades">
        <div class="col-3">
            <h4>{{habilidad.nombre}}</h4>
        </div>
        <div class="col-7 mt-2">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" aria-label="Animated striped example" aria-valuenow="75" 
                aria-valuemin="0" aria-valuemax="100" [style.width.%]="habilidad.porcentaje"
                style="min-width: 10px;">{{habilidad.porcentaje}}%
                </div>
            </div>
        </div>
        <div class="col-2 p-0 d-flex item-alling-end">
            <!-- Botón de EDICION (NO llama a un MODAL)-->
            <button type="button" routerLink="editHabilidad/{{habilidad.id}}"
                class="btn btn-close-black" >
                <i class="fa-solid fa-pencil"></i>
            </button> 
            <!-- Botón de BORRAR-->    
            <button type="button" 
                class="btn btn-close-black"><i 
                class="fa-solid fa-trash-can" (click)="borrar(habilidad.id)"></i></button>     
        </div>
    </div>    
</section>
<app-modal-habilidad-add></app-modal-habilidad-add>
