        <!-- Content --> 
        <!-- NAV: Para el logo, las redes sociales y acceso al login -->  
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">
                    <img src="/assets/logo_ap.png" alt="Logo Argentina Programa" class="w-100">
                </a>
                <!--Lista Desordenada para las redes sociales y login-->
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item bg-black">
                        <a href="https://github.com/RoqueOrtega" target="_blank"><i class="fa-brands fa-github fa-2x text-white"></i></a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a href="https://www.linkedin.com/in/roque-ortega-684bbb15/" target="_blank"><i class="fa-brands fa-linkedin fa-2x text-white"></i></a>
                    </li>
                    <li class="list-group-item bg-black">
                        <a href="https://twitter.com/RoqueOrtega2" target="_blank"><i class="fa-brands fa-twitter fa-2x text-white"></i></a>
                    </li>    
                    <li class="list-group-item bg-black"><i class="fa-brands fa-facebook fa-2x text-white"></i></li>
                    <li class="list-group-item bg-black"><i class="fa-brands fa-instagram fa-2x text-white"></i></li>
                    <li class="list-group-item bg-black" >        
                        <!-- ENVIA al Login-->
                        <a routerLink="login"><i class="fa-solid fa-user-lock fa-2x text-white"></i></a>
                    </li>
                </ul>    
            </div>
          </nav>
