         <!-- SECTION: Para "EXPERIENCIA" -->
         <section class="experiencia mt-2">
            <h2 class="text-center"><span><strong>Experiencia</strong></span></h2>  
            <div class="container text-center">
                <div class="row">
                    <div class="col-9 mt-5">
                        <h4 class="mt-6">
                            Más de 15 años desempeñandome en distintos roles relacionados con el area de desarrollo de sofware. Roles: Software Developer Java, Analista de Sistemas, Lider de Proyectos.
                            Empresa: IBM (Argentina), Digital House, Technisys, DB System,  ISFD Jorge Luis Borges (Santo Tomé Corrientes).
                        </h4>
                    </div>
                    <div class="col-3">
                        <img src="/assets/foto_experiencia.jpg" alt="Desarrollo de software" class="rounded-circle img-fluid">  
                    </div>                    
                </div>        
            </div>
        </section>  
