<!-- Modal: Habilidad -->
<div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close" routerLink="/"></button>
        </div>

        <!-- Formulario Habilidad -->
        <form [formGroup]="form" (ngSubmit)="onUpdate($event)"
            name="habilidadForm" class="bg-white rounded p-5 seccion">
            <div class="modal-body">
                <!-- Campo: Id(oculto) -->
                <input type="hidden" id="habilidaId" class="form-control" formControlName="id" [ngModel]="habilidad.id">
                <!-- Campo: Nombre -->
                <div class="mb-3">
                    <label for="habilidaNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="habilidaNombre"
                        placeholder="Ingrese un nombre" formControlName="nombre" [ngModel]="habilidad.nombre" 
                        [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched,'is-valid': !Nombre?.errors && Nombre?.touched}">
                        <div *ngIf="Nombre?.errors && Nombre?.touched">
                          <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                            El campo nombre es requerido.
                          </p>
                      </div>
                </div>
                <!-- Campo: Porcentaje -->
                <div class="mb-3">
                    <label for="habilidadPorcentaje" class="form-label">Porcentaje %</label>
                    <input type="number" min="0" max="100" id="habilidadPorcentaje"
                    class="form-control" formControlName="porcentaje" [ngModel]="habilidad.porcentaje"
                    placeholder="Ingrese un número entre 0 y 100"
                    [ngClass]="{'is-invalid': Porcentaje?.errors && Porcentaje?.touched,'is-valid': !Porcentaje?.errors && Porcentaje?.touched}">
                    <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                      <p *ngIf="Porcentaje?.hasError('required')" class="text-danger">
                        El campo porcentaje es requerido.
                      </p>
                      <p *ngIf="Porcentaje?.hasError('min')" class="text-danger">
                        El porcentaje minimo es 0.
                      </p>
                      <p *ngIf="Porcentaje?.hasError('max')" class="text-danger">
                        El porcentaje máximo es 100.
                      </p>
                  </div>                    
                </div>
            </div>
       
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
